---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  {{ content }}
</div>
<div id="container"></div>
<link rel="stylesheet" href="https://o4dyfn0ef.qnssl.com/gitment-2017-07-10.css">
<script src="https://o4dyfn0ef.qnssl.com/gitment-2017-07-10.js"></script>
<script>
var gitment = new Gitment({
  owner: 'Slahser',
  repo: 'slahser.github.io',
  oauth: {
    client_id: 'b7688a6da9939ab32b57',
    client_secret: '81cd41c2156d0baebfaf8384aac6f414bb7387b5',
  },
})
gitment.render('container')
</script>