---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  {{ content }}
</div>

<!--想来想去还是不开启评论功能了.尽管国内的国外的都试过,可是被评论又不是我的初心. -->
<!-- <div id="container"></div>
<link rel="stylesheet" href="https://o4dyfn0ef.qnssl.com/gitment-2017-07-10.css">
<script src="https://o4dyfn0ef.qnssl.com/gitment-2017-07-10.js"></script>
<script>
var gitment = new Gitment({
  owner: 'Slahser',
  repo: 'slahser.github.io',
  oauth: {
    client_id: '',
    client_secret: '',
  },
})
gitment.render('container')
</script> -->